@model ProductDetailViewModel

@{
    ViewData["Title"] = @Model.product.Name;
}
<h1>@Model.product.Name</h1>


<div class="row">
    <div class="col-md-6">
        <img src="@Url.Content("~/images/products/" + @Model.product.ImageName)" alt="Product Image" />
    
</div>

<div class="border p-3 mt-4">
    <ul class="list-unstyled product-list">
        
            
            <li class="product-item"><div class="product-info">@Model.product.Category_name</div>
                <img src="@Url.Content("~/images/products/" + @Model.product.ImageName)" alt="Product Image" />
                <div class="product-info">
                    <p>@Model.product.Description</p>
                    <p>@Model.product.Name - @Model.product.Price</p>
                </div>
            </li>
        
    </ul>
</div>
